/* CSS YO */

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	font-family: "Raleway";
	align-content: center;
	background-color: orange;
}
@media only screen and (min-width: 768px) {
	.main {
		width: 50%;
	}
}

.main {
	margin: auto;
	background-color: white;
}

.main > * {
	margin: auto;
	max-width: 80%;
}
.main > div {
	background-color: white;
	border: 2px solid lightgray;
	border-radius: 5px;
	max-height: 80%;
	padding: 10px 20px 10px 20px;
}
.main > div > * {
}
.main > a {
	display: block;
	height: 10px;	
}

/* Collapsibles */
.collapse-button { 
	display: block;
	padding: 10px;
	margin: auto;
	background-color: orange;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	text-align: center;
	font-size: 150%;
}
.collapse-button:hover {
	background-color: #ffaf1a;
}
.collapse-button:active {
	background-color: darkorange;
}
.collapse-content {
	display: none;
}

/* Title Stuff */
.title-image {
	display: block;
	margin: auto;
	/*border-radius: 50%;*/
	max-width: 30%;
}
.title-text {
	font-size: 250%;
	text-align: center;
	margin: auto;
}
.title-subtext {
	font-size: 175%;
	margin: auto;
}

.subtitle-text {
	font-size: 225%;
	text-align: center;
	margin: auto;
}

p {
	font-size: 125%;
	margin: auto;
}

.twitter-timeline {

}

.container-header {
	display: flex;
}
.item-header {
	margin: auto;
}