/* CSS YO */

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	font-family: "Raleway";
	align-content: center;
	background-color: orange;
}

.main {
	margin: auto;
	margin-top: 30px;
	background-color: white;
	max-width: 50%;
}
.main > * {
	margin: auto;
	max-width: 80%;
}
.main > div {
	background-color: white;
	border: 2px solid lightgray;
	border-radius: 5px;
	margin-bottom: 30px;
	max-height: 80%;
}
.main > div > * {
	padding: 10px 20px 10px 20px;
}
.main > a {
	display: block;
	height: 10px;
}

/* collapsibles */
.collapse-button { 
	display: block;
	margin: auto;
	margin: 2%	;
	background-color: orange;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	text-align: center;
	font-size: 150%;
}
.collapse-content {
	display: none;
}

/* Title Stuff */
.title-image {
	display: block;
	margin: auto;
	border-radius: 50%;
	margin-top: 20px;
}
.title-text {
	font-size: 250%;
	text-align: center;
	margin: auto;
}
.title-subtext {
	font-size: 150%;
	margin: auto;
}

.twitter-timeline {

}

.container-header {
	display: flex;
}
.item-header {
	margin: auto;
}